/*--GOOGLE FONTS--*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Hind+Madurai:wght@600&family=Work+Sans&display=swap");
/*--FONT VARIABLES--*/
/*--COLOR VARIABLES--*/
/*--WORKAROUND FOR INTERPOLATION--*/
.box1 {
  background: #4DB4BF;
}

.box2 {
  background: #c22e14;
}

.box3 {
  background: #B679F2;
}

.box4 {
  background: #56AFD6;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("images/asanoha-400px.png") center;
  font-family: "Work Sans", sans-serif;
}

.navbar {
  padding: 0px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.navbar a {
  color: white;
  font-family: "Hind Madurai", sans-serif;
  font-size: 3vw;
  text-align: center;
  padding: 8px;
}
.navbar a.dropdown-item {
  color: black;
  font-size: 20px;
}
.navbar div a.navbar-brand {
  padding: 16px;
  font-size: 32px;
}
.navbar button i {
  color: white;
  font-size: 32px;
}
.navbar .navbar-nav .navbar-link {
  padding: 12px;
  font-weight: bold;
}

.nav-colored {
  background: #23c1fe;
  border-bottom: 4px solid white;
}

div.row-spacer {
  height: 84px;
}

/*--FOR MOBILE DEVICES--*/
.hero {
  padding: 0px;
  height: 100vh;
  background: url("images/69926594_115750249817905_3396160275945095168_n.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 33.33%;
  background-attachment: fixed;
}
.hero .layer {
  background-color: rgba(64, 64, 64, 0.6);
  width: 100%;
  height: 100%;
}
.hero .layer div:first-child {
  visibility: hidden;
}
.hero .layer h1, .hero .layer i {
  font-size: 2em;
  font-style: italic;
  color: white;
}
.hero .layer .hero-hidden {
  height: 110px;
}

main {
  min-height: calc(100vh - 414px);
}
main iframe {
  width: 100%;
  min-height: 420px;
}

.col-text, .col-image {
  min-height: 280px;
  max-height: 420px;
}

.col-image {
  padding: 0px;
}
.col-image img, .col-image video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-family: "Fira Sans", sans-serif;
}

h2 {
  font-family: "Fira Sans", sans-serif;
}

h3 {
  font-family: "Fira Sans", sans-serif;
}

h4 {
  font-family: "Fira Sans", sans-serif;
}

h5 {
  font-family: "Fira Sans", sans-serif;
}

h6 {
  font-family: "Fira Sans", sans-serif;
}

.box1 {
  color: white;
}

.box2 {
  color: white;
}

.box3 {
  color: white;
}

.box4 {
  color: white;
}

.cta, button.submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 24px;
  background: #23c1fe;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.cta:hover, button.submit:hover {
  background: #3DC8FF;
  color: white;
}

/*--GENERATE HOMEPAGE BUTTON COLORS--*/
.box1 {
  background: #4779CC;
}
.box1 .cta {
  background: #c7cc47;
  color: white;
}
.box1 .cta:hover {
  background: #d3d76f;
}

.box2 {
  background: #c22e14;
}
.box2 .cta {
  background: #1460c2;
  color: white;
}
.box2 .cta:hover {
  background: #2177e8;
}

.box3 {
  background: #7E63DB;
}
.box3 .cta {
  background: #8edb63;
  color: white;
}
.box3 .cta:hover {
  background: #ace58c;
}

.box4 {
  background: #56AFD6;
}
.box4 .cta {
  background: #d6b256;
  color: white;
}
.box4 .cta:hover {
  background: #e0c57f;
}

hr {
  margin: 0px;
}

footer {
  background: #4a4a4b;
  color: white;
}
footer p {
  font-size: 12px;
  text-align: center;
}

section.header {
  height: 200px;
}
section.header h1 {
  font-size: 8vw;
  color: white;
  padding: 0px 8px;
}
section.header-about {
  background: #1AFE6F;
}
section.header-contact {
  background: #3656FE;
}
section.header-holoEN {
  background: #94cce5;
}
section.header-calli {
  background: #C70A40;
}
section.header-kiara {
  background: #F9531D;
}
section.header-ina {
  background: #61527D;
}
section.header-gura {
  background: #5782C6;
}
section.header-ame {
  background: #F6DE96;
}

aside {
  color: white;
}
aside a i {
  font-size: 48px;
  color: white;
}
aside p {
  font-weight: bold;
}
aside p a {
  color: white;
}
aside.aside-calli {
  background: #FBA3C3;
}
aside.aside-kiara {
  background: #FACB5F;
}
aside.aside-ina {
  background: #938ba1;
}
aside.aside-gura {
  background: #8DC0DF;
}
aside.aside-ame {
  background: #FAF2D8;
  color: #000;
}
aside.aside-ame a {
  color: #000;
}

div.gen {
  background: #78797b;
  color: white;
  min-height: 240px;
  padding: 24px 20px;
}
div.gen a img {
  margin-bottom: 12px;
  background: white;
}
div.gen a h6 {
  color: white;
}
div.gen a.character {
  text-decoration: none;
  padding: 20px;
}
div.gen a.calli:hover {
  background: #FBA3C3;
}
div.gen a.calli img {
  border: 2px solid #C70A40;
}
div.gen a.kiara:hover {
  background: #FACB5F;
}
div.gen a.kiara img {
  border: 2px solid #F9531D;
}
div.gen a.ina:hover {
  background: #938ba1;
}
div.gen a.ina img {
  border: 2px solid #61527D;
}
div.gen a.gura:hover {
  background: #8DC0DF;
}
div.gen a.gura img {
  border: 2px solid #5782C6;
}
div.gen a.ame:hover {
  background: #FAF2D8;
}
div.gen a.ame img {
  border: 2px solid #F6DE96;
}
div.gen a.irys:hover {
  background: #bc0071;
}
div.gen a.irys img {
  border: 2px solid #3c0024;
}
div.gen a.sana:hover {
  background: #fff5c9;
}
div.gen a.sana img {
  border: 2px solid #FEDE4A;
}
div.gen a.fauna:hover {
  background: white;
}
div.gen a.fauna img {
  border: 2px solid #A4E5CF;
}
div.gen a.kronii:hover {
  background: #79b0fa;
}
div.gen a.kronii img {
  border: 2px solid #0869EC;
}
div.gen a.mumei:hover {
  background: #cfc4be;
}
div.gen a.mumei img {
  border: 2px solid #998274;
}
div.gen a.baelz:hover {
  background: #ed8682;
}
div.gen a.baelz img {
  border: 2px solid #D2251E;
}
div.gen a:hover {
  background: darkgray;
}
div.gen a:hover h6 {
  color: #000;
}

/*--FOR LARGER DISPLAYS--*/
@media screen and (min-width: 425px) {
  .navbar {
    max-height: 134px;
  }
}
@media screen and (min-width: 576px) {
  .navbar a.nav-link {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero .layer h1, i, section.header h1 {
    font-size: 4em;
  }

  section.header {
    height: 280px;
  }
}
@media screen and (min-width: 992px) {
  .hero .layer h1, i {
    font-size: 6em;
  }
}