/*--CUSTOM COLORS--*/
.holo-primary {
    background: #74CFE2;
}


.header {
    height: 120px;
}
.navbar {
    background: lightgrey;
    padding: 0px;
}
main.container {
    background: lightcyan;
    padding: 0px;
    min-height: 80vh;
}

main img {
    width: 100%;
}