body {
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

#hero {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
#hero div {
  width: 100vw;
  height: 50vh;
  display: grid;
  place-content: center;
}
#hero div#nova {
  background: gray;
}
#hero div#vetera {
  background: yellow;
}
@media screen and (min-width: 1024px) {
  #hero {
    flex-direction: row;
  }
  #hero div {
    width: 50vw;
    height: 100vh;
  }
}