// color variables
$bg-primary: #404040;
$bg-primary-1: #262626;
$bg-primary-2: #404040;



:root {
    font-size: 16px; // default
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @media screen and (max-width: 319px) {
        font-size: 14px;
    }
}

body {
    background: url(img/sumaid-pal-singh-bakshi-vq-A3vOlEr0-unsplash.jpg) fixed right bottom;
    background-size: cover;
    color: white;
    overflow: overlay;

    &::-webkit-scrollbar {
        width: .5rem;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $bg-primary-2;
        border-radius: .25rem;
    }
}

header {
    background: transparent;
    padding: 0;
    // height: 5rem; // 80px by default

    // .navbar {
        // height: 5rem;
    // }
    border-bottom: 1px solid transparent;
    .navbar-brand, .nav-link, .navbar-toggler {
        color: white;
    }
    .navbar-brand, .navbar-toggler {
        font-weight: 500;
        font-size: 1.5rem;
    }
}

main {
    background: $bg-primary-1;
}

section {
    padding: 2rem;
    //      
    // }
    &#hero {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;     
        color: white;

        #typewriter {
            border-right: 2px solid white;
        }

        a.hero-btn {
            text-decoration: none;
            border: 2px solid white;
            border-radius: 2rem;
            margin: 1rem;
            padding: 1rem;
            font-size: 1rem;
            font-weight: bold;
            

            &#hero-btn-primary {
                background: white;
                color: black;
                &:hover {
                    background: #E2E8F0
;
                }
            }
            &#hero-btn-secondary {
                background: transparent;
                color: white;
                border: 2px solid transparent;
                &:hover {
                    // background: transparent;
                    // border: 2px solid #E2E8F0;
                    text-decoration: underline;
                }
            }
        }
    }
    
}

section.skills {
    margin-bottom: 2em;
}

div.card {
    flex: 1 1 280px;
    background: hsl(0, 0%, 90%);
    color: black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    &:hover {
        background: lightgray;
    }
}

div.card-skills {
    height: 180px;
    padding: 1em;
    border-radius: 1em;
}

div.card-projects {
    padding: 0;

    img {
        overflow: hidden;
        object-fit: cover;
    }
    h5, p {
        padding: 0 1em;
        padding-top: 1em;
    }
    div.links {
        display: flex;
        flex-direction: row;
        margin: 1em;
        gap: 1em;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            background: gray;
            padding: .5em;
            border-radius: .5em;
        }
    }
}