$break-tablet: 768px;
$break-laptop: 1024px;

body {
    margin: 0;
    overflow: hidden;
}

#hero { 
    display: flex;
    height: 100vh;

    // default for mobile devices
    flex-direction: column;
    div {
        width: 100vw;
        height: 50vh;
        &#nova {
            background: gray;
        }
        &#vetera {
            background: yellow;
        }
    }
    @media screen and (min-width: $break-laptop) {
        flex-direction: row;
        div {
            width: 50vw;
            height: 100vh;
        }
    }
}
    
