/*--GOOGLE FONTS--*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Hind+Madurai:wght@600&family=Work+Sans&display=swap');

/*--FONT VARIABLES--*/
$font-title: 'Hind Madurai', sans-serif;
$font-heading: 'Fira Sans', sans-serif;
$font-body: 'Work Sans', sans-serif;

/*--COLOR VARIABLES--*/
/*--WORKAROUND FOR INTERPOLATION--*/
%bg-box1 {background: #4DB4BF;}
%bg-box2 {background: #c22e14;}
%bg-box3 {background: #B679F2;}
%bg-box4 {background: #56AFD6;}





html {
    scroll-behavior: smooth;
  }

body {
    background: url("images/asanoha-400px.png") center;
    font-family: $font-body;
}

.navbar {
    padding: 0px;
    max-height: fit-content;

    a {
        color: white;
        font-family: $font-title;
        font-size: 3vw;
        text-align: center;
        padding: 8px;

        &.dropdown-item {
            color: black;
            font-size: 20px;
        }
    }

    div {
        a.navbar-brand {
            padding: 16px;
            font-size: 32px;
        }
    }

    button {
        i {
            color: white;
            font-size: 32px;
        }
    }

    .navbar-nav {
        .navbar-link {
            padding: 12px;
            font-weight: bold;
        }
    }
}

.nav-colored {
    background: #23c1fe;
    border-bottom: 4px solid white;
}

div.row-spacer {
    height: 84px;
}

/*--FOR MOBILE DEVICES--*/
.hero {
    padding: 0px;
    height: calc(100vh);
    background: url("images/69926594_115750249817905_3396160275945095168_n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 33.33%;
    background-attachment: fixed;

    .layer {
        background-color: rgba(64, 64, 64, 0.6);
        width: 100%;
        height: 100%;

        div:first-child {
            visibility: hidden;
        }

        h1, i {
            font-size: 2em;
            font-style: italic;
            color: white;
        }

        .hero-hidden {
            height: 110px;
        }
    }
}

main {
    min-height: calc(100vh - 414px);

    iframe {
        width: 100%;
        min-height: 420px;
    }
}

.col-text, .col-image {
    min-height: 280px;
    max-height: 420px;
}
.col-image {
    padding: 0px;

    img, video {
        height: 100%;
        object-fit: cover;
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: $font-heading;
    }
}

@mixin bg-colors($arg) {
    @extend %bg-box#{$arg};
}
@for $i from 1 through 4 {
    .box#{$i} {
        @include bg-colors($i);
        color: white;
    }
}

.cta, button.submit {
    width: fit-content;
    padding: 16px 24px;
    background: #23c1fe;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

    &:hover {
        background: #3DC8FF;
        color: white;
    }
}

/*--GENERATE HOMEPAGE BUTTON COLORS--*/
$i: 1;
@each $color in #4779CC, #c22e14, #7E63DB, #56AFD6 {
    .box#{$i} {
        background: $color;

        .cta {
            background: adjust-hue($color, 205);
            color: white;

            &:hover {
                background: lighten(adjust-hue($color, 205), 10%);
            }
        }
    }
    $i: $i + 1;
}

hr {
    margin: 0px;
}

footer {
    background: #4a4a4b;
    color: white;

    p {
        font-size: 12px;
        text-align: center;
    }
}

section {
    &.header {
        height: 200px;
        h1 {
            font-size: 8vw;
            color: white;
            padding: 0px 8px;
        }
    }
    &.header-about {
        background: #1AFE6F;
    }
    &.header-contact {
        background: #3656FE;
    }
    &.header-holoEN {
        background: lighten(#56AFD6, 15%);
    }
    &.header-calli {
        background: #C70A40;
    }
    &.header-kiara {
        background: #F9531D;
    }
    &.header-ina {
        background: #61527D;
    }
    &.header-gura {
        background: #5782C6;
    }
    &.header-ame {
        background: #F6DE96;
    }
}

aside {
    color: white;
    a {
        i {
            font-size: 48px;
            color: white;
        }
    }
    p {
        font-weight: bold;
        a {
            color: white;
        }
    }

    &.aside-calli {
        background: #FBA3C3;
    }
    &.aside-kiara {
        background: #FACB5F;
    }
    &.aside-ina {
        background: #938ba1;
    }
    &.aside-gura {
        background: #8DC0DF;
    }
    &.aside-ame {
        background: #FAF2D8;
        color: #000;
        a {
            color: #000;
        }
    }
}

div.gen {
    background: #78797b;
    color: white;
    min-height: 240px;
    padding: 24px 20px;

    a {
        img {
            margin-bottom: 12px;
            background: white;
        }
        h6 {
            color: white;
        }
    
        &.character {
            text-decoration: none;
            padding: 20px;
        }
        &.calli {
            &:hover {
                background: #FBA3C3;
            }
            img {
                border: 2px solid #C70A40;
            }
        }
        &.kiara {
            &:hover {
                background: #FACB5F;
            }
            img {
                border: 2px solid #F9531D;
            }
        }
        &.ina {
            &:hover {
                background: #938ba1;
            }
            img {
                border: 2px solid #61527D;
            }
        }
        &.gura {
            &:hover {
                background: #8DC0DF;
            }
            img {
                border: 2px solid #5782C6;
            }
        }
        &.ame {
            &:hover {
                background: #FAF2D8;
            }
            img {
                border: 2px solid #F6DE96;
            }
            }
        &.irys {
            &:hover {
                background: lighten(#3c0024, 25%);
            }
            img {
                border: 2px solid #3c0024;
            }
        }
        &.sana {
            &:hover {
                background: lighten(#FEDE4A, 25%);
            }
            img {
                border: 2px solid #FEDE4A;
            }
        }
        &.fauna {
            &:hover {
                background: lighten(#A4E5CF, 25%);
            }
            img {
                border: 2px solid #A4E5CF;
            }
        }
        &.kronii {
            &:hover {
                background: lighten(#0869EC, 25%);
            }
            img {
                border: 2px solid #0869EC;
            }
        }
        &.mumei {
            &:hover {
                background: lighten(#998274, 25%);
            }
            img {
                border: 2px solid #998274;
            }
        }
        &.baelz {
            &:hover {
                background: lighten(#D2251E, 25%);
            }
            img {
                border: 2px solid #D2251E;
            }
        }
        &:hover {
            background: darkgray;
    
            h6 {
                color: #000;
            }
        }
    }
}

/*--FOR LARGER DISPLAYS--*/
@media screen and (min-width: 425px) {
    .navbar {
        max-height: 134px;
    }
}

@media screen and (min-width: 576px) {
    .navbar a.nav-link {
        font-size: 20px;
    }
}
@media screen and (min-width: 768px) {
    .hero .layer h1, i, section.header h1 {
        font-size: 4em;
    }
    section.header {
        height: 280px;
    }
}

@media screen and (min-width: 992px) {
    .hero .layer h1, i {
        font-size: 6em;
    }
}

