@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: url("./img/hero-bg.jpg");
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-padding-top: 6rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(160, 174, 192, 0.5019607843);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A0AEC0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

section {
  scroll-margin-top: 6rem;
}